.fly{
  animation-duration: 3s;
  animation-name:fly;
  animation-fill-mode:forwards;
}
@keyframes fly {
  from {
    top: 0px;
    right: 0px;
  }
  to {
    top: 90%;
    right: 90%;
  }
}
.fly{
position:absolute;
top: 0px;
right: 0px;
}
img{width:70px;}
