body{  color: black;
  font-family: "Courier New", Courier, Monaco;
  font-size: 0.7em;}
header{max-width: 200px;
  margin: 0 auto;
  margin-top: 140px;}
main, footer{
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;}
  a{text-decoration: none;
    color: black;
    margin: 0;}
  li {list-style-type: none;
    display: inline-block;}
footer{
  padding: 0;
}
    ul{
    padding:0;
    }
li a:hover {color: white;
  background-color: red;
  text-decoration: none;
margin-left: 0;}
.red{color: red;}
img{margin-top: -1px;
    margin-left: -5px;}
span {margin-left: 20px;
margin-right: 20px;}
.dropdown-content {display:none;}
.dropdown-content show {color:black;
text-decoration: none;
display:block;}
.dropdown:hover .dropdown-content{
  display:block;
}
